# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
dist/
package/
MANIFEST
package-linux.sh
package-mac.sh
package-win.py
*-setup.exe
*.zip
src/ipr.spec

# Environments
.venv
venv

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

.debug/
config.json
Logs
src/resources
