[Desktop Entry]
Type=Application
Name=BitCap IPReporter
Comment=Internal BitCap IP reporter tool
Path=/opt/ipr
Exec=/opt/ipr/ipr
Icon=BitCapLngLogo_IPR_Full_BLK-02x256.png