annotated-types==0.7.0
anyio==4.13.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.3.3
fastapi==0.115.14
h11==0.16.0
idna==3.15
Jinja2==3.1.6
MarkupSafe==3.0.3
Nuitka==4.1.1
packaging==25.0
passlib==1.7.4
pkginfo==1.12.1.2
platformdirs==4.9.6
pycryptodome==3.23.0
pydantic==2.13.4
pydantic_core==2.46.4
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
requests==2.34.2
scapy==2.7.0
shiboken6==6.11.1
starlette==0.46.2
tomlkit==0.13.3
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.34.3
