[Desktop Entry]
Type=Application
Name=BitCap IPReporter
Comment=Internal BitCap IP reporter tool
Path=/opt/BitCapIPR
Exec=/opt/BitCapIPR/BitCapIPR
Icon=BitCapLngLogo_IPR_Full_ORG_BLK-02_Square.png
